# Created by venv; see https://docs.python.org/3/library/venv.html
# Secrets
.env

# Environments
venv/
env/
.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac specific
.DS_Store

# Project specific
data/
*.pdf

